extends layout

block Title
  title Error Occured

block append Statics
  style.
    div.outter {
      background-color: inherit;
    }

    div#error-message-container {
      box-sizing: border-box;
      margin-top: 40px;
      margin-bottom: 10px;
      width: 800px;
      margin-left: auto;
      margin-right: auto;

      background-color: white;
      padding: 40px 50px;
      box-shadow: 2px 2px 3px #afafaf;
    }

    div#error-message-container p {
      font-size: 16px;
    }

block Content
  div.container#error-message-container
      = error_message

