doctype html

html
  //- The header part
  head
    //- The title of the html
    block Title
      title Default Title
    
    //- Link the css and scripts
    block Statics
      //- Favicon
      link(rel="shortcut icon", href="")

      //- Meta
      meta(name="keywords", content="Blog, Programmer, ACM, Alogrithm, RapidHere, RapiD Aint Pacer In Data")
      meta(name="author", content="rapidhere@gmail.com")
      meta(name="description", content="The Personal Blog for Rapid")
      meta(http-equiv="Content-Type", "text/html; Charset=utf8")

      //- Shared sources
      link(href="#{static_url}/css/layout.css", type="text/css", rel="stylesheet")
      link(href="#{static_url}/css/font-awesome.min.css", type="text/css", rel="stylesheet")
      script(src="#{static_url}/js/jquery-2.1.1.min.js")

body
  div(class="outter container align-center")
    block Content
      | Hello World
