div#admin-main-container {
  width: 720px;

  float: left;
}

div#admin-side-container {
  width: 240px;

  margin-bottom: 20px;
}

div#admin-main-container table {
  width: 100%;

  padding-left: 30px;
  padding-right: 30px;
}

div#admin-main-container th {
  text-align: left;
}

div#admin-main-container th.table-title {
  width: 180px;
}

div#admin-main-container th.table-tag {
  width: 140px;
}

div#admin-main-container th.table-publish {
  width: 120px;
}

div#admin-main-container th.table-modify {
  width: 120px;
}

div#admin-main-container th.table-operate {
  width: auto;
}

div#admin-main-container tr {
  height: 1.5em;
}

div#admin-main-container td.table-operate li {
  margin-left: 0px;
  margin-right: 5px;
  padding: 0px;
}

div#admin-main-container td.table-operate a {
  color: #2f2f2f;
}

div#admin-main-container td.table-title a {
  font-weight: bold;
  color: #2f2f2f;
}

div.sidebar-section {
  margin-top: 10px;
  
  padding-left: 14px;
}

div.sidebar-section h6 {
  margin-bottom: 24px;
}

div.sidebar-section a {
  color: #2f2f2f;
  margin-right: 8px;
}

div.sidebar-section a:hover {
  color: #5f5f5f;
}

div.sidebar-section a:visited {
  color: #2f2f2f;
}

div.sidebar-section ul {
  list-style: none;
}

div.sidebar-section li {
  margin-bottom: 12px;
}
