div.outter {
	margin-top: 20px;
}

div.article-container {
  padding: 0px 35px;
  margin-bottom: 60px;
}

div.article-container h2.article-title>a{
  font-family: "Times New Roman", "Georgia", serif;
  color: #343e5f;
  font-size: 32px;
}

div.article-container h2.article-title>a:hover {
  color: #0075c9;
}

div.article-container .article-tags {
  display: inline-block;
  margin-left: 14px;
  color: #3f3f3f;
}

div.article-container .article-tags a{
  color: #3f3f3f;
}

div.article-container .article-tags a:hover {
  color: #1085d9;
}

div.article-container .article-date {
  display: inline-block;
  color: #3f3f3f;
}

div.article-container .article-comment-count {
  display: inline-block;
  color: #3f3f3f;

  margin-left: 14px;
}

div.article-container .article-comment-count a {
  color: #3f3f3f;
}

div.article-container .article-comment-count a:hover {
  color: #1085d9;
}

div.article-container .article-content {
  margin-top: 32px;
}

div.article-container .article-footer {
  margin-top: 24px;
}

.article-footer a {
  color: #343e5f;
}

.article-footer a:hover {
  color: #1085d9;
}

div#header-container h1, h6 {
  display: inline-block;

  padding: 0px;
  margin: 0px;
}

div#header-container {
  padding-top: 30px;
  padding-left: 30px;

  position: relative;
}

div#header-container h1>a {
  font-size: 40px;
  color: #2f2f2f;
}

div#header-container h1>a:hover {
  color: #1085d9;
}

div#header-container h6 {
  margin-left: 20px;
}

div#searchbar-container {
  position: absolute;
  top: 40px;
  right: 0;
}

div#searchbar-container input{
  height: 26px;
  padding: 3px 6px;
  width: 220px;
  margin-right: 60px;

  border-width: 0px 0px 1px 0px;
  background-color: inherit;
}

a#search-mark, a#admin-mark {
  position: absolute;

  top: 47px;

  font-size: 18px;
  color: #7f8f7f;
}

a#search-mark:hover, a#admin-mark:hover{
  color: #9faf9f;
}

a#search-mark {
  right: 0;
  margin-right: 30px;
}

a#admin-mark {
  right: 0;
  margin-right: 5px;
}

div#main-container {
  margin-top: 64px;
}

div#footer-container {
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}

div#footer-container p {
  font-size: 14px;
  color: #777777;
  display: inline-block;
  line-height: 1.5;
}

div#footer-container p#poweredby {
  float: left;
}

div#footer-container p#copyright {
  float: right;
}

div#admin-mark-container {
  position: fixed;
  top: 10px;
  right: 10px;

  color: #99aa99;
}

div#pagination-container {
  margin: 0px 30px;
  margin-bottom: 20px;
}

div#prev-page-container a, div#next-page-container a{
  color: white;
}

div#prev-page-container, div#next-page-container {
  background-color: #1085d9;

  padding: 3px 14px;
}

div#prev-page-container {
  float: left;
  clear: none;
}

div#next-page-container {
  float: right;
  clear: none;
}
