extends blog-base-layout

block append Statics
  script(src="#{static_url}/js/blog/searchbar.js")

block ExtraHeader
  div.inline-container#searchbar-container
    input.form-control(placeholder="Search ...")

  a(id="search-mark" href="javascript:;") 
    i.fa.fa-search

  a(id="admin-mark" href="/blog/admin")
    i.fa.fa-user
