extends ../layout.jade

block Title
  title BLOG: RapiD是一个逗比

block append Statics
  link(href="#{static_url}/css/blog/blog-layout.css", rel="stylesheet", type="text/css")
  script(src="#{static_url}/js/blog/searchbar.js")

block Content
  div.container#admin-mark-container
    if user
      if user.admin
        != 'Welcome <strong>'
        = user.nickname
        != '</strong> !'
      else
        = 'Welcome ' + user.nickname + ' !'

  div.container#header-container
    h1: a(href="/blog/index") RapiD is a JOKER
    h6 码农，电竞，伪摇狗

    block ExtraHeader

  div.container#main-container
    block MainContent
  
  hr
  div.container#footer-container
    p#poweredby Powered by: &nbsp;
      a(href="http://nodejs.org/" target="_blank") Node.js 
      | | 
      a(href="http://expressjs.com/" target="_blank") Express 
      | | 
      a(href="http://www.mongodb.org/" target="_blank") MongoDB
    p#copyright Copyright&copy; RanttuInc, &nbsp;
      a(href="mailto:rapidhere@gmail.com") rapidhere@gmail.com
